/*=============================================
=                  General                    =
=============================================*/

* {
    box-sizing: border-box;
}



body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

button:focus {
    outline: none;
}



.carousel-indicators li {
    border-radius: 50%;
}

#scrollTopBtn {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(18, 185, 121, 0.3);
}

#map {
    width: 100%;
    height: 400px;
    background: #ccc;
}

/*=============================================
=                  Navbar                     =
=============================================*/

.navbar {
    box-shadow: 0 3px 18px rgba(0, 0, 0, .11);
}

/*=============================================
=                  Header                     =
=============================================*/
/* TODO: 加入背景圖片 */
#header {
    border-radius: 0px;
    margin-bottom: 200px;
    background-image: url('../img/牌_工作區域\ 1.png');
    background-size: cover;
    /*=============================================
=                  把背景固定在後方                      =
=============================================*/
    background-attachment: fixed;
    padding: 300px 0px;
    border-right: 0px;
    position: relative;
    font-weight: 900;
}

#header:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    display: block;
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;

}

#header>.container {
    position: relative;
    z-index: 4;
    font-size: 10;
}

#header>.container>h1 {
    font-weight: 400;
    font-family: 'Noto Sans TC', sans-serif;
}


/*=============================================
=                  Intro                      =
=============================================*/
.intro-box {
    border-radius: 15px;
    margin-bottom: 15px;
    transition: all .5s ease-out;
    padding: 15px 15px;
    text-align: center;
}

.intro-box:hover {
    background: white;
    box-shadow: 0px 22px 22px rgba(0, 0, 0, .25);
}

.intro-line {
    width: 20px;
    height: 6px;
    border-radius: 3px;
    margin: 10px auto;
    transition: all .5s ease;
}

.intro-box:hover .intro-line {
    width: 40px;
}

/*=============================================
=                  Features                   =
=============================================*/

/*=============================================
=                  Reviews                    =
=============================================*/

/*=============================================
=                  Gallery                    =
=============================================*/

/* TODO: 設定Hover特效 */

[id^='galleryImage'] {
    background-size: cover;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: grayscale(100%);
    transition: all .5s ease;
}

[id^='galleryImage']>.gallery-text {
    color: white;
    font-weight: 700;
    text-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    text-align: center;
    transition: all .5s ease;
}

[id^='galleryImage']:hover {
    filter: grayscale(0%);
}

[id^='galleryImage']:hover>.gallery-text {
    opacity: 1;
    font-size: 22px;
    transition: all .5s ease-in-out;
}

/* 放入背景圖片 */

#galleryImage1 {
    background-image: url('../img/肉串01.png');
}

#galleryImage2 {
    background-image: url('../img/天丼02.png');
}

#galleryImage3 {
    background-image: url('../img/鮪魚刺身03.png');
}

#galleryImage4 {
    background-image: url('../img/香菇味曾04.png');
}

#galleryImage5 {
    background-image: url('../img/漢堡排05.png');
}

#galleryImage6 {
    background-image: url('../img/鮭魚刺身06.png');
}

#galleryImage7 {
    background-image: url('../img/豬排丼07.png');
}

#galleryImage8 {
    background-image: url('../img/羅宋湯08.png');
}

/*=============================================
=                  Start Now                  =
=============================================*/

/*=============================================
=                   Footer                    =
=============================================*/

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-end p {
    font-size: 8px;
    margin: 0;
}

#goBackBtn {
    width: 40px;
    height: 40px;
    border: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    border-radius: 50%;
}

/*=============================================
=                   AD-BOX                    =
=============================================*/

.ad-box {
    width: 300px;
    position: fixed;
    right: -275px;
    bottom: 80px;
    z-index: 100;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
}

.ad-box.active {
    right: 0px;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #ddd;
}

.ad-toggle-btn {
    width: 25px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
}

.ad-toggle-btn>i {
    transform: rotateZ(90deg);
}

.ad-toggle-btn:hover {
    color: #666;
}

.right-part {
    padding: 10px;
}

.right-part>p {
    margin-bottom: 0;
}